---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<style>
  main {
    & h1 {
      text-decoration: underline;
    }
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1><span>&#127950;</span> Hello, Speed Demon!</h1>
      <p>
        Welcome to Striptimize. I strip out everything slowing down your site.
        We help you make your site a lean, mean, money making machine.
      </p>
      <p>
        Your business seems good. You've got your site. You use ads to drive
        customers to your site.
      </p>
      <p>But your site isn't first when people search for your keywords.</p>
      <h4>Here are some things you can do to change that:</h4>
      <ul>
        <li>
          <a href="https://pagespeed.web.dev/" target="_blank"
            >Check your site's performance</a
          >
          to see how fast you are.
        </li>
        <li>Compare your speed to your highest ranked competitor</li>
        <li>
          Yell and pull your hair out because of how slow you are compared to
          them
        </li>
        <li>Calm down and breathe because you realize you know what to do:</li>
        <li>Contact me at Striptimize to make your site a speed demon.</li>
      </ul>
      <h5>
        Get in touch with me to make your site faster than your competitors'.
      </h5>
      <p>
        Contact me here at <a href="mailto:naythaniel@striptimize.com">naythaniel@striptimize.com</a> to start
        stripping all of the dead weight out of your site.
      </p>
    </main>
    <Footer />
  </body>
</html>
